

<h2>My Projects</h2>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<mat-spinner *ngIf="loading"></mat-spinner>

<ul style="justify-content: left;display: flex; flex-direction: column; align-content: space-around;" *ngIf="!loading && projects.length > 0">
  <li style="flex: 1;" *ngFor="let project of projects">

    <!-- <div style="display: flex;"> -->
      <a routerLink="/project/{{project.id}}">
        <span class="badge">{{project.name}}</span>
      </a>

      <span><button mat-raised-button color="danger" (click)="deleteProject(project)">Delete</button></span>

    <!-- </div> -->

  </li>
</ul>

<button (click)="goToAddProjectPage()" style="cursor: pointer;" title="Add Project"><i class="material-icons">add</i></button>

<!-- external ProjectComponent will bind to selected project like this. -->
<!-- <app-project-detail [project]="selectedProject"></app-project-detail> -->