<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf="!tokenExisted()"><a class="nav-link" routerLink="signup">Signup</a></span>
      <span *ngIf="!tokenExisted()"><a class="nav-link" routerLink="login">Login</a></span>
      <span *ngIf="userIsClient()"><a routerLink="/projects" class="nav-link">My Projects</a></span>
      <span *ngIf="userIsFreelancer()"><a routerLink="/find-projects" class="nav-link">Find Projects</a></span>
      <span *ngIf="userIsFreelancer()"><a routerLink="/assigned-projects" class="nav-link">Assigned Projects</a></span>
      <span *ngIf="userIsAdmin()"><a routerLink="/technologies" class="nav-link">Technologies</a></span>
      <span *ngIf="userIsAdmin()"><a routerLink="/price-models" class="nav-link">Price Models</a></span>
      <span *ngIf="tokenExisted()"><button (click)="logout()" style="background: transparent;border: transparent;cursor: pointer;" class="nav-link">Logout</button></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    
  </div>

  <router-outlet></router-outlet>
</body>