<form id="signup-form">
    <mat-form-field class="full-width-input">
        <input matInput [(ngModel)]="email" type="email" placeholder="Email" name="email"/>
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <input matInput [(ngModel)]="password" type="password" placeholder="Password" name="password" />
    </mat-form-field>

    <mat-form-field class="full-width-input">
        <input matInput [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword" />
    </mat-form-field>

    <!-- <mat-form-field class="full-width-input"> -->
        <mat-checkbox [(ngModel)]="clientChecked" (change)="checkboxToggle($event)" name="client">Client</mat-checkbox>
    <!-- </mat-form-field> -->

    <!-- <mat-form-field class="full-width-input"> -->
        <mat-checkbox [(ngModel)]="freelancerChecked" (change)="checkboxToggle($event)" name="freelancer">Freelancer</mat-checkbox>
    <!-- </mat-form-field> -->
    
    <br /><br />

    <div *ngIf="multiRole">
        <!-- <mat-form-field class="full-width-input" *ngIf="multiRole"> -->
          <div style="font-weight: bold;"><label id="example-radio-group-label">Choose the role to login with</label></div>
          <div>
            <mat-radio-group name="radio-group" (change)="changeRole($event)" aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button matInput *ngFor="let role of roles" [value]="role">
                {{role}}
              </mat-radio-button>
              
            </mat-radio-group>
          </div>
        <!-- </mat-form-field> -->
    </div>

    <button (click)="register()" mat-raised-button color="primary">Register</button>
</form>