<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">



<div style="margin-left: 1.5em;">

  <h2>Price Models</h2>

  <br />

  <mat-spinner *ngIf="loading"></mat-spinner>

  <ul style="padding-left: 1.3em;" *ngIf="!loading && priceModels.length > 0">
      <li *ngFor="let priceModel of priceModels">

        <div style="display: grid;grid-template-columns: 12% 5%;">

          <div style="word-break: break-all;">
            <a routerLink="/price-model/{{priceModel.id}}">
              <span style="font-size: medium;">{{ priceModel.name }}</span>
            </a>
          </div>

          <div><button mat-raised-button color="warn" (click)="deletePriceModel(priceModel)">Delete</button></div>        

        </div>

        <br />

      </li>
  </ul>

  <button (click)="goToAddPriceModelPage()" style="cursor: pointer;" title="Add Price Model"><i class="material-icons">add</i></button>

</div>